[submodule "tests/libfuzzyinput"]
	path = tests/libfuzzyinput
	url = https://github.com/R1tschY/libfuzzyinput
[submodule "benchmarks/libbenchmark"]
	path = benchmarks/libbenchmark
	url = https://github.com/google/benchmark.git
